<div class="content-container">


  <div class="jumbotron">
    <h1> Transportation and Hotel Information<br />
			 <small>North East Database Day 2025 </small><br />
			 <small>Thursday January 9th, 2025</small><br/>
			 <small><a href="https://www.brandeis.edu/computer-science/" target="_blank">Michtom School of Computer Science</a> @ Brandeis University</small>      </h1>
  </div>


	<h2>Transportation and Parking</h2>
  Coming soon!

  <!--p>
	Our event location is the <a href="https://www.google.com/maps/place/Boston+University+Center+for+Computing+and+Data+Sciences+(CDS)/@42.3498971,-71.105805,17z/data=!3m2!4b1!5s0x89e379f7642a2947:0x44a22be2220e3018!4m6!3m5!1s0x89e379d2933baeed:0x60e64b526f2cebed!8m2!3d42.3498971!4d-71.1032301!16s%2Fg%2F11twkq1k9x?entry=ttu" target="_blank">CCDS Building (Boston University)</a>, 665 Commonwealth Ave, Boston, MA, 02215.
	</p>

  <p>
    The CCDS building is a 1min walk from
<a href="https://www.google.com/maps/place/Boston+University+East/@42.3498947,-71.1032224,17z/data=!4m6!3m5!1s0x89e379f0b0cbe2df:0x6763a6b7fa35a941!8m2!3d42.3496784!4d-71.1042047!16s%2Fm%2F064nb00?hl=en-US&entry=tts" target="_blank">BU East station</a>.

If you require parking during the event, please indicate so at your registration. We have a limited number of parking passes at the Agganis Arena garage (<a href="https://maps.app.goo.gl/iNjHMcREgpTPr2Ki8" target="_blank">925 Commonwealth Avenue, Boston, MA</a>) and the Essex St garage (<a href="https://maps.app.goo.gl/mddKGLnZ1AG4ZRTq9" target="_blank">148 Essex Street, Brookline, MA</a>). You will be contacted once the registration is completed with a QR code to use to enter/exit.-->
<!--If you choose to drive to the event, parking passes can be purchased for TBA/day in the <a href="#">TBA location</a>.-->


<!--/p--->





<h2>Campus Map</h2>
Coming soon!

<!--p class=BodyCopy><b style='mso-bidi-font-weight:normal'><span
style='mso-no-proof:yes'-->

<!--[if gte vml 1]><v:shapetype id="_x0000_t75"
 coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
 filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="Picture_x0020_6" o:spid="_x0000_i1025" type="#_x0000_t75"
 alt="A map of a city&#10;&#10;Description automatically generated with medium confidence"
 style='width:474pt;height:270pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="./images/campus_bu.png"
  o:title="A map of a city&#10;&#10;Description automatically generated with medium confidence"/>
</v:shape>
<![endif]-->

<!--![if !vml]>
<img src="./images/campus_bu.png" style="width: 100%; max-width: 1200px; height: auto;" alt="A map of a city&#10;&#10;Description automatically generated with medium confidence" v:shapes="Picture_x0020_6">
<![endif]>
</span>

<span style='mso-bidi-font-weight:
bold'><o:p></o:p></span></b></p>

<p class=BodyCopy><b><o:p>&nbsp;</o:p></b></p>




<p class=BodyCopy>The CCDS Building is located on Commonwealth Avenue on the East
side of Campus. It is easily accessible from Commonwealth Ave. You can find more
resources about the CCDS building <a href="https://www.bu.edu/cds-faculty/explore/bu-center-for-computing-data-sciences/" target="_blank"><span
style='mso-fareast-font-family:"Times New Roman";mso-fareast-theme-font:major-fareast'>here</span></a>.</p>



<h2>Train Stations</h2>

<p class=BodyCopy><b><span style='color:#00B050'>Green Line B: </span></b><span
style='color:black;mso-themecolor:text1'>The closest Stop to CCDS from the Green
Line is the Boston University East (BU East) stop, which happens to be just in front of the CCDS building.
The Green Line goes downtown with major stops at Kenmore, Copley, and Government Center.
Other Branches of the Green Line take passengers east bound,
to Northeastern Univeristy, Museum of Fine Arts, and Brookline/Newton.<br
style='mso-special-character:line-break'>
<![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
<![endif]><o:p></o:p></span></p>



<h2>Hotels</h2>

In case you are not from the local area and looking for a place to stay, you can consider the following options:

<h3>1) <a href="https://www.hotelcommonwealth.com/" target="_blank"> Hotel Commonwealth</a></h3>


<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
style='color:black;mso-themecolor:text1'> 500 Commonwealth Avenue, Boston MA,
02215<o:p></o:p></span></p>


<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Walking
Directions to Campus:</span></b><span style='color:black;mso-themecolor:text1'>
Located less than a half of a mile from campus, Hotel Commonwealth is easily within
walking distance of campus -- simply walk west on Commonwealth Ave. The walk is roughly 10 to
12 minutes to CCDS.<o:p></o:p></span></p>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>MBTA
Directions to Campus:</span></b><span style='color:black;mso-themecolor:text1'>
Alternatively, residents can take the nearby </span><b><span style='color:#00B050;
mso-themecolor:accent2'>Green Line B</span></b><span style='color:##00B050;
mso-themecolor:accent2'> </span><span style='color:black;mso-themecolor:text1'>from
the Kenmore station for two stops to BU East station and walk to CCDS. 
Hotel residents could also take the Bus #57 from Kenmore to Commonwealth Av@Granby St for two stops to the BU campus and
walk for 1-2 mins from there. The train or the bus ride will take roughly 8 minutes.<o:p></o:p></span></p>

<h3>2) <a href="https://www.eliothotel.com/" target="_blank"> The Elliot Hotel</a></h3>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
style='color:black;mso-themecolor:text1'> 370 Commonwealth Ave, Boston, MA 02215<o:p></o:p></span></p>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a href="https://maps.app.goo.gl/3WhUGdzzxrqPYA478" target="_blank"> Walking
Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
Located less than a mile from campus, The Elliot Hotel is within
walking distance of campus -- simply walk west on Commonwealth Ave. The walk is roughly 18 to
20 minutes to CCDS.<o:p></o:p></span></p>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>MBTA
Directions to Campus:</span></b><span style='color:black;mso-themecolor:text1'>
Alternatively, residents can take the nearby </span><b><span style='color:#00B050;
mso-themecolor:accent2'>Green Line B</span></b><span style='color:##00B050;
mso-themecolor:accent2'> </span><span style='color:black;mso-themecolor:text1'>from
the Hynes Convention Center station for three stops to BU East station and walk to CCDS. 
The train ride plus walk will take roughly 12 minutes.<o:p></o:p></span></p>


<h3>3) <a href="https://www.theverbhotel.com/" target="_blank"> The Verb Hotel</a></h3>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
style='color:black;mso-themecolor:text1'> 1271 Boylston St, Boston, MA 02215<o:p></o:p></span></p>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a href="https://maps.app.goo.gl/Ze4nfy1XKfZ11gYp9" target="_blank"> Walking
Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
Located less than a mile from campus, The Verb Hotel is within
walking distance of campus -- simply follow the directions in the provided link, and you will find CCDS on your right-hand side. The walk is roughly 16 minutes.<o:p></o:p></span></p>


<h3>4) <a href="https://www.marriott.com/en-us/hotels/bosfn-residence-inn-boston-back-bay-fenway/photos/" target="_blank"> Residence Inn by Marriott Boston Back Bay</a></h3>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
style='color:black;mso-themecolor:text1'> 125 Brookline Ave, Boston, MA 02215<o:p></o:p></span></p>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a href="https://maps.app.goo.gl/cEhLEshLxNCd7Kc5A" target="_blank"> Walking
Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
Located less than a half of a mile from campus, The Residence Inn is within
walking distance of campus -- simply walk north on Brookline Ave and then head west on Commonwealth Ave. The walk is roughly 13 to
to CCDS.<o:p></o:p></span></p>


<h3>5) <a href="https://www.hilton.com/en/hotels/bossrhh-hilton-boston-park-plaza/" target="_blank"> Hiilton Boston Park Plaza</a></h3>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
style='color:black;mso-themecolor:text1'> 50 Park Plaza, Boston, MA 02116<o:p></o:p></span></p>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a href="https://maps.app.goo.gl/5458NANPuQQEfLJF8" target="_blank"> MBTA
Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
Alternatively, residents can take the nearby </span><b><span style='color:#00B050;
mso-themecolor:accent2'>Green Line B</span></b><span style='color:##00B050;
mso-themecolor:accent2'> </span><span style='color:black;mso-themecolor:text1'>from
the Arlington station for five stops to BU East station and walk to CCDS. 
The train ride plus walk will take roughly 16 minutes.<o:p></o:p></span></p>


<h3>6) <a href="https://www.hilton.com/en/hotels/bosbhhh-hilton-boston-back-bay/" target="_blank"> Hilton Boston Back Bay</a></h3>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
style='color:black;mso-themecolor:text1'> 40 Dalton St, Boston, MA 02115<o:p></o:p></span></p>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a href="https://maps.app.goo.gl/UnkB2JsvZEtdaFyY9" target="_blank"> MBTA
Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
Alternatively, residents can take the nearby </span><b><span style='color:#00B050;
mso-themecolor:accent2'>Green Line B</span></b><span style='color:#00B050;
mso-themecolor:accent2'> </span><span style='color:black;mso-themecolor:text1'>from
the Hynes Convention Center station for three stops to BU East station and walk to CCDS. 
The train ride plus walk will take roughly 15 minutes.<o:p></o:p></span></p>


<h3>7) <a href="https://www.lenoxhotel.com/" target="_blank"> The Lenox Hotel</a></h3>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
style='color:black;mso-themecolor:text1'> 61 Exeter St, Boston, MA 02116<o:p></o:p></span></p>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a href="https://maps.app.goo.gl/hvkYtzhNAoXBHqnE9" target="_blank"> MBTA
Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
Alternatively, residents can take the nearby </span><b><span style='color:#00B050;
mso-themecolor:accent2'>Green Line B</span></b><span style='color:#00B050;
mso-themecolor:accent2'> </span><span style='color:black;mso-themecolor:text1'>from
the Copley station for four stops to BU East station and walk to CCDS. 
The train ride plus walk will take roughly 17 minutes.<o:p></o:p></span></p>


<h3>8) <a href="https://www.sonder.com/destinations/brookline/the-arcadian/c35887?sleeps=1" target="_blank"> Arcadian Hotel Brookline</a></h3>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
style='color:black;mso-themecolor:text1'> 1200 Beacon St, Brookline, MA 02446<o:p></o:p></span></p>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a href="https://maps.app.goo.gl/cKjpfhBbrhFAHczbA" target="_blank"> Walking
Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
The Arcadian Hotel Brookline is a mile away from campus. For a 23-minute walk to CCDS, go northeast on Beacon Street, turn north on St Mary's Street, right on Commonwealth Avenue, and you'll find CCDS on your left.<o:p></o:p></span></p>


<h3>9) <a href="https://beaconinn.com/" target="_blank"> Beacon Inn</a></h3>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
style='color:black;mso-themecolor:text1'> 1087 Beacon St, Brookline, MA 02446<o:p></o:p></span></p>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a href="https://maps.app.goo.gl/d5hdJTuXqP1x2BHU8" target="_blank"> Walking
Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
The Beacon Inn is less than a mile away from campus. For a 16-minute walk to CCDS, go northeast on Beacon Street, turn north on St Mary's Street, right on Commonwealth Avenue, and you'll find CCDS on your left.<o:p></o:p></span></p>


<h3>10) <a href="https://www.charlesmarkhotel.com/" target="_blank"> The Charlesmark Boutique Hotel</a></h3>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
style='color:black;mso-themecolor:text1'> 655 Boylston St, Boston, MA 02116<o:p></o:p></span></p>

<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a href="https://maps.app.goo.gl/fWEjJeSsQJ6tpBnU9" target="_blank"> MBTA
Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
Alternatively, residents can take the nearby </span><b><span style='color:#00B050;
mso-themecolor:accent2'>Green Line B</span></b><span style='color:#00B050;
mso-themecolor:accent2'> </span><span style='color:black;mso-themecolor:text1'>from
the Copley station for four stops to BU East station and walk to CCDS. 
The train ride plus walk will take roughly 15 minutes.<o:p></o:p></span></p-->

<!--
<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Uber/
Driving Directions:</span></b><span style='color:black;mso-themecolor:text1'>
The drive from The Colonnade to ISEC takes around 5 minutes depending on
traffic.
</div>
-->




</div>
